# BAIM 3220: Introduction to Python
## Quiz #5: Functions, lists, and dictionaries
## After downloading this .ipynb file from Canvas, resave with the following naming format:
>- LastName_FirstName_Quiz5.ipynb


## When you are ready to submit your quiz, upload your .ipynb file to the Quiz#5 dropbox on Canvas
>- Note: You need to complete the M/C,T/F, fill in the blank questions on the Canvas quiz AND upload this file before the quiz time is up

# Q1 (3 points)
### In the next cell define a function, `cirArea`, to calculate and print the area of a circle
#### Specifications:
>- Assume pi=3.14
>- Your function should only have one parameter, diameter, passed to it
>- If you forgot how to calculate the area of a circle, look it up (Google it).
>- Print a statement describing the area of the circle
>>- For example, if passed 100 as the parameter, your function should print a statement: "The area of your circle is: 7850 units squared"

### Define your function in the next cell but do not call it yet

In [3]:
def cirArea(diameter):
    area = 3.14 * ((diameter/2)**2)
    print(f'The area of your circle is: {area} units squared')

### Call `cirArea` in the next cell, pass the number 20 to it, and show the output

In [80]:
cirArea(20)

The area of your circle is: 314.0 units squared

# Q2 (6 points)
### In the next cell define a function, `numCheck`, that will check whether a number is in a given range
#### Specifications:
>- Your function should take three parameters
>>- 1. A number to be checked
>>- 2. A low for the range
>>- 3. A high number for the range
>- Print two statements to the user based on if the number is within the range or not
>>- 1. If in the range print: '{num} is in the range between {low} and {high}
>>- 2. If not in the range print: '{num} is outside the range between {low} and {high}'
>>>- Where {num}, {low}, and {high} are the actual numbers passed to your function

#### Define your function in the next cell but do not call it yet

In [6]:
def numCheck(low,high,num):
    if num >= low and num <= high:
        print(f'{num} is in the range between {low} and {high}')
    else:
        print(f'{num} is outside the range between {low} and {high}')

#### Call `numCheck` in the next cell, pass the following values to it, and run the cell to show the results
>- number to check, 5
>- low number of range, 3
>- high number of range, 100

In [81]:
numCheck(3,100,5)

5 is in the range between 3 and 100

#### Call `numCheck` in the next cell, pass the following values to it, and run the cell to show the results

>- number to check, 5
>- low number of range, 10
>- high number of range, 100

In [82]:
numCheck(10,100,5)

5 is outside the range between 10 and 100

# Q3 (12 points) 
## Factorial of a number
### In the next cell define a function, `fact`, to calculate and print the factorial of a number
>- If you don't remember what a factorial is, look it up
### Specifications:
>- Your function should have only one parameter
>- You must use a `for` loop
>- For example, if passed 7 as the parameter, your function should print a statement: "The factorial of 7 is 5040"

### Define your function in the next cell but do not call it yet

In [83]:
def fact(num):
    tot = 1
    for i in range(1,num+1):
        tot =+ tot*i
    print(f'The factorial of {num} is {tot}')

### Call your function in the next cell and pass `10` to it

In [85]:
fact(10)

The factorial of 10 is 3628800

# Q4 (12 points)
## Unique item list
### Write a function, `unique_list` that takes a list as a parameter and returns a new list with unique elements of the first list.

For example, your function could take the list, `[1,1,1,1,2,2,3,3,3,3,4,5]`
and return the list, `[1,2,3,4,5]`

### Define your function in the next cell but do not call it yet

In [86]:
def unique_list(aList):
    newList = []
    for i in aList:
        if i not in newList:
            newList.append(i)
    return newList

#### Call `unique_list` in the next cell and pass the example list (with duplicate numbers) given above to it

In [88]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [89]:
unique_list([1,1,1,2,2,5,5,5,6,6,10,10,11,120,120,131])

[1, 2, 5, 6, 10, 11, 120, 131]

# Q5 (18 points)
## Working with lists
### The next subset of questions refer to the list defined below:

>- `aList = ['one','two','three',4,5]`
>- Don't forget to define this list in the next cell

In [90]:
aList = ['one','two','three',4,5]

#### 5a. In the next cell, grab 'three' from `aList` (3 points)

In [91]:
aList[2]

'three'

#### 5b. In the next cell, return a sub list of the second through the last item in `aList` (3 points)

In [92]:
aList[1:5]

['two', 'three', 4, 5]

#### 5c. In the next cell, return the first two letters of the second item in `aList` (3 points)

In [93]:
aList[1][0:2]

'tw'

#### 5d. In the next cell, add the string, 'Python', to the end of `aList` (3 points)
>- Print `aList` before and after your change

In [94]:
print(aList)
aList.append('Python')
print(aList)

['one', 'two', 'three', 4, 5]
['one', 'two', 'three', 4, 5, 'Python']

#### 5e. In the next cell, add the number, 1000, to the third item in `aList` (3 points)
>- Print the list before and after the change

In [95]:
print(aList)
aList[2] = aList[2] + '1000'
print(aList)

['one', 'two', 'three', 4, 5, 'Python']
['one', 'two', 'three1000', 4, 5, 'Python']

#### 5f. In the next cell, reassign `'one'` to be the numerical value, `1` (3 points)
>- Print the list before and after the change

In [96]:
print(aList)
aList[0] = 1
print(aList)

['one', 'two', 'three1000', 4, 5, 'Python']
[1, 'two', 'three1000', 4, 5, 'Python']

# Q6 (12 points)
## Working with Dictionaries
### The next subset of questions refer to the dictionary defined below:

>- `d = {'k1':[{'nest_key':['this is deep',['hello']]}]}`
>- Don't forget to define this dictionary in the next cell

In [97]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#### 6a. In the next cell, grab the value that is mapped to the key, `k1` (3 points)

In [98]:
d['k1']

[{'nest_key': ['this is deep', ['hello']]}]

#### 6b. In the next cell, grab the string, `'this is deep'` (3 points)

In [99]:
d['k1'][0]['nest_key'][0]

'this is deep'

#### 6c. In the next cell, grab the string, `'hello'` (3 points)

In [100]:
d['k1'][0]['nest_key'][1][0]

'hello'

#### 6d. In the next cell, grab the first three letters of `'hello'` (3 points)

In [101]:
d['k1'][0]['nest_key'][1][0][0:3]

'hel'