# Python Boolean Expressions
## Student Notes
***
## Learning Objectives
>- In this lesson, we will learn:
        1. Define the Boolean data type
        2. Apply and define comparison opperatorss 
        3. Apply and define Boolean operators 
      
## Modules covered in this lesson: 
>- none

## Links to topics and functions:
>- `Boolean Values` <a id='BooleanValues'></a>
[Boolean Values](#Boolean-Values)

>- `Comparison Operators` <a id='CompOps'></a>
[Comparison Operators](#Comparison-Operators)

>- `Boolean Operators` <a id='BoolOps'></a> [Boolean_Operators](#Boolean-Operators)

>- `Homework` <a id='Homework'></a> [Homework](#Exercises-to-complete-on-your-own:) 

### Path to main python folder: C:\\Users\\mimc2537\OneDrive - UCB-O365\python\week3
#### References: Sweigart(2015, pp. 31-36)

# Boolean Values

>- The Boolean data type has two possible values intended to to represent the two truth values of logic and Boolean Algebra.
>- The Boolean data type has the values `True` and `False`

Some notes on Boolean values: 

1. `True` and `False` will have capitals to start the values (`T` or `F`)
2. When typed as Python code, the Boolean values will not have quotes around them
3. We cannot name a variable using one of the two values of a Boolean data type

Let's work through some examples to get familiar with the Boolean data type

<a id='Top'></a>[Top of Page](#Python-Boolean-Expressions)

In [2]:
var1 = True

In [3]:
var1

True

In [4]:
True

True

In [5]:
False

False

In [6]:
true

NameError: name 'true' is not defined

In [7]:
# Can we assign the variable name using one of the two boolean values?

True = 10 + 5

SyntaxError: cannot assign to True (<ipython-input-7-a221ff774361>, line 3)

# Comparison Operators
We use comparison operators to peform logical operations so that our code can make decisions.

*Comparison operators* compare two values and evaluate down to a single value.

This table lists the comparison operators:

|Operator | Comparison              | Example | Evaluates to...|  Appropriate Data Types |
|:-------:|:---------:              |:-------:|:--------------:|:-----------------------:|
|==       |Equal to                 | 2 == 3  |  False          | Any                    |
|!=       |Not equal to             | 2 !=3   |  True           | Any                    |
|<        |Less than                | 2 < 3   |  True           | Int and Float          |
|>        |Greater than             | 2 > 3   |  False          | Int and Float          |
|<=       |Less than or equal to    | 5 <= 5  |  True           | Int and Float          |
|>=       |Greater than or equal to | 5 >= 10 |  False          | Int and Float          |

In [8]:
2 == 5

False

In [9]:
100 == 100

True

In [10]:
55 != 55

False

In [11]:
55 != 60

True

In [12]:
'boy' == 'girl'

False

In [13]:
'boy' == 'boy'

True

In [14]:
'boy' != 'girl'

True

In [15]:
'boy' < 'girl'

True

In [16]:
'boy' > 'girl'

False

In [23]:
42 == int('42')

True

In [22]:
42 == 42.00

True

## Ex1: Boolean example combining what we learned in prior lessons
### Task: create a program to ask a user for their age and check if their age is less than or equal to 50.

In [26]:
myAge = input('What is your age: ')

What is your age: 21

In [27]:
myAge

'21'

In [29]:
myAge <= 50

TypeError: '<=' not supported between instances of 'str' and 'int'

In [30]:
type(myAge)

str

In [31]:
int(myAge) <= 50

True

## Ex1a: Is there a "better" way to write this program?

In [32]:
myAge = int(input('What is your age: '))

What is your age: 21

In [33]:
myAge

21

In [34]:
type(myAge)

int

In [35]:
myAge <= 50

True

# Boolean Operators
<a id='Top'></a>[Top of Page](#Python-Boolean-Expressions)

Boolean operators are used to compare Boolean values. The Boolean operators are:

>- `and`
>- `or`
>- `not`
    
## Truth tables can be used to show us every possible for a Boolean operator

### `and` operator Truth Table


|Expression      | Evaluates to:    
|:-------:       |:---------:  | 
|True and True   | True        | 
|True and False  | False       | 
|False and True  | False       | 
|False and False | False       | 


### The `or` operator Truth Table

|Expression      | Evaluates to:    
|:-------:       |:---------:  | 
|True or True    | True        | 
|True or False   | True        | 
|False or True   | True        | 
|False or False  | False       | 

### The `not` operator Truth Table

|Expression      | Evaluates to:    
|:-------:       |:---------:  | 
|not True        | False       | 
|not False       | True        | 

Note: the `not` operator only operaters on one Boolean value

#### Boolean operator order of operations
1. not
2. and
3. or

Lets work through some examples.

In [36]:
True and True

True

In [37]:
False and True

False

In [39]:
# It can be helpful when testing logical and control flow statments to use the print function

print('True and False evaluates to: ' + str(True and False))

True and False evaluates to: False

# Combining Comparison Operators with Boolean Operators
<a id='Top'></a>[Top of Page](#Python-Boolean-Expressions)

In [40]:
(4 < 5) and (5 < 6)

True

In [41]:
(4 < 5) and (9 < 6)

False

In [42]:
(1 == 2) or (2 == 2)

True

In [43]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 4

False

In [46]:
print(str(2 + 2 == 4) + ' and not ' + str(2 + 2 == 5) + ' and ' + str(2 * 2 == 2 + 4) + ' evaltuates to: ')

2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 4

True and not False and False evaltuates to:

False

### Understanding the Code Tips
>- To help see what Boolean values are being returned use the print and str() functions to print out the resulting Boolean values from expressions within your code
>- Then refer to truth tables to understand why Python returned the given Boolean value
>- This becomes more valuable the more complex your code becomes

In [47]:
print('(4 < 5)' + ' and ' + '(6 < 5)')

print(str(4 < 5) + ' and ' + str(6 < 5) + ' evaluates to: ' + str((4 < 5) and (6 < 5)))

(4 < 5) and (6 < 5)

(4 < 5) and (6 < 5)
True and False evaluates to: False

False

# Exercises to complete on your own:

1. Write out 5-10 more Boolean expresions with increasing complexity.
2. Use the print() and str() functions to show the Boolean values being calculated throughout the expressions.
3. In your final line of code, write the expression so the output will be a Boolean value.

<a id='Top'></a>[Top of Page](#Python-Boolean-Expressions)

In [52]:
not(4==4)
print(str(not(4==4)))

False

In [56]:
(4 == 4) or not (4 <= 3)
print('(4 == 4) or not (4 <= 3)')
print(str(4 == 4) + ' or not ' + str(not(4 <= 3)) + ' evaluates to: ' + (str(4 == 4) or not (4 <= 3)))

(4 == 4) or not (4 <= 3)
True or not True evaluates to: True