# Week 6 
## In-Class Activity Workbook

## Learning Objectives 
### In this notebook you will learn and practice:
<br>Section 1: <a id='Section 1'></a>[Section 1: Dictionary Fundamentals](#Section-1)
<br>Section 2: <a id='Section 2'></a>[Section 2: Working with Dictionaries](#Section-2)
<br>Section 3: <a id='Section 3'></a>[Section 3: Basic Analytics with Dictionaries](#Section-3)
<br>Section 4: <a id='Section 4'></a>[Section 4: Building and Sorting Dictionaries](#Section-4)

# Section 1
## Dictionary Fundamentals

### Problem 1.1 
1. Declare a dictionary, `empty` as an empty dictionary
2. Declare a dictionary, `person` with a key of `"name"` and a value of `"John Smith"`
3. Declare a dictionary, `customer` with keys of `"name"` and `"age"` and values of `"Morty"` and `26` respectively
4. Print out all of these dictionaries

In [31]:
empty = {}
person = {'name':'John Smith'}
customer = {'name':'Morty','age':26}

print(empty)
print(person)
print(customer)

{}
{'name': 'John Smith'}
{'name': 'Morty', 'age': 26}

### Problem 1.2
1. In the `person` dictionary, show the value for the `"name"` key 
2. In the `customer` dictionary, show the value for the `"age"` key

In [32]:
print(person['name'])

print(customer['age'])

John Smith
26

### Problem 1.3
1. Use the `get()` method and repeat problem `1.2`

In [33]:
print(person.get('name'))

customer.get('age')

John Smith

26

### Problem 1.4
1. Try to grab an `'age'` key from the `person` dictionary (don't go back and add it just run this as is)
>- In the first cell, try and grab `age` using bracket syntax
>- In the second cell, try and grab `age` using the `get()` method
>- Note the differences in what is returned using both of these approaches

2. Add an option to the `get()` method approach that prints "age is not a key in this dictionary"

In [34]:
person['age']

# Key does not exist in this dictionary

KeyError: 'age'

In [37]:
person.get('age')

'age is not a key in this dictionary'

In [36]:
person.setdefault('age','age is not a key in this dictionary')

'age is not a key in this dictionary'

### Problem 1.5
#### A list embedded within a dictionary
1. Create a dictionary, `sports` with the following data:
>- `key = "sports", value = ["baseball","football","hockey","soccer"]`
2. Grab the first item in the list
3. Grab a slice that has the second to last and the last items in the list

In [42]:
sports = {'sports':["baseball","football","hockey","soccer"]}

In [45]:
sports['sports'][0]

'baseball'

In [50]:
sports['sports'][2:4]

['hockey', 'soccer']

### Problem 1.6
#### A dictionary embedded within a list
1. Create a list, `names` with the following values:
>- `"John", "Dennis", {"name":"Kirsten"}`
2. Grab the string "Kirsten"

In [55]:
names = ['John','Dennis',{'name':'Kirsten'}]

In [63]:
names[2]['name']

'Kirsten'

### Problem 1.7
#### Dictionaries embedded within dictionaries
1. Create a dictionary, `redsx`, with the following data:
>- `key "team", value "Boston Red Sox"`
>- `key "wins", value {"2018": 108, "2017" : 93}`

2. Print out the dictionary for wins
3. Print out the wins in 2018 only

In [65]:
redsx = {'team':'Boston Red Sox',
        'wins':{"2018": 108, "2017" : 93}}

In [67]:
print(redsx['wins'])

{'2018': 108, '2017': 93}

In [69]:
print(redsx['wins']['2018'])

108

# Section 2
## Working with Dictionaries

### Problem 2.1
1. Create a dictionary, `car` with the following data:
>- key "year", value 2018

In [70]:
car = {'year':2018}

2. Add a new key value pair to `car` of "color" = "Blue"
>- Print `car` before and after the change

In [71]:
print(car)

car['color'] = 'Blue'

print(car)

{'year': 2018}
{'year': 2018, 'color': 'Blue'}

### Problem 2.2
1. Update the "color" key to have a value of "Red"
>- Print `car` before and after the change

In [75]:
print(car)

car['color'] = 'Red'

print(car)

{'year': 2018}
{'year': 2018, 'color': 'Red'}

### Problem 2.3
1. Delete the key/value pair of "year":2018 from `car`
>- Print `car` before and after the change

In [76]:
print(car)

del car['year']

print(car)

{'year': 2018, 'color': 'Red'}
{'color': 'Red'}

### Problem 2.4
1. Create a new dictionary, `person`, that has the following data:
>- key "name", value "John"
>- key "age", value 26

In [77]:
person = {'name':'John',
         'age':26}

2. Loop through the keys in `person` and print them out

In [78]:
for keys in person.keys():
    print(keys)

name
age

3. Loop through the values in `person` and print them out

In [79]:
for values in person.values():
    print(values)

John
26

4. Loop through `person` and print out the key:value pairs
>- Use f-string formatting to nicely print out the pairs

In [80]:
for keys, values in person.items():
    print(f'Key: {keys},  Value: {values}')

Key: name,  Value: John
Key: age,  Value: 26

### Problem 2.5
#### Nesting dictionaries

1. Create three customer dictionaries for three different customers with the following key:value pairs:
>- cust1 = "name":"Emil", "age": 23, "totalspend" = 1200
>- cust2 = "name":"Tobias", "age": 45, "totalspend" = 2500
>- cust3 = "name": "Linus", "age": 33, "totalspend" = 850

In [4]:
cust1 = {"name":"Emil", "age": 23, "totalspend" : 1200}
cust2 = {"name":"Tobias", "age": 45, "totalspend" : 2500}
cust3 = {"name": "Linus", "age": 33, "totalspend" : 850}

2. Create a `customers` dictionary with the three `cust_` dictionaries nested within `customers`
>- Note: your keys can be the same name as your individual dictionaries

In [5]:
customers = {'cust1':cust1,'cust2':cust2,'cust3':cust3}

3. Grab the `totalspend` value from `cust2` from the `customers` dictionary

In [7]:
customers['cust2']['totalspend']

2500

4. Loop through `customers` and print out all the ages

In [6]:
for (keys,values) in customers.items():
    print(values['age'])

23
45
33

<a id='Top Page'></a>[Back to Top](#Week-5)

# Section 3
## Basic Analytics with Dictionaries
>- Use the `customers` dictionaries defined in problem 2.5 to answer the following questions

### Problem 3.1
1. What is the average age of our customers?
>- Round to two decimal places

In [8]:
sum = 0
i = 0
for (keys,values) in customers.items():
    sum += values['age']
    i+=1
    if i == len(customers):
        print(round(sum/i,2))

33.67

### Problem 3.2
1. What is the average total spending for our customers?
>- Round to two decimal places
>- Use f-string formatting to print a one-sentence summary statement with the total number of customers, total spend, and average spend.

In [10]:
sum = 0
i = 0
totCust = 0
for (keys,values) in customers.items():
    sum+=values['totalspend']
    i+=1
    totCust = len(customers)
    if i ==len(customers):
        print(f'The total number of customers was: {len(customers)},\ntotal spend was: ${sum},\nand the average spend was: ${round(sum/i,2)}')

The total number of customers was: 3,
total spend was: $4550,
and the average spend was: $1516.67

#### Try using markdown cells to show a summary of the customer spending
>- Note: refer to the `Dictionaries_Type-Along_student.ipynb` file to learn how to set up notebooks for printing variable values within a markdown cell

### Using markdown to print results
- Try printing your results from the prior problem here using markdown

Hi boss, here is a summary of our customers: 
>-  {{totCust}} total customers
>-  \${{sum}} total spend of customers
>-  \${{round(sum/i,2)}} average spend of customers

# Section 4
##  Building and Sorting Dictionaries

### Problem 4.1 
1. Create a dictionary, `sales`, with 10 keys numbered from 1-10
>- Set the default value for each key value to 0 (zero)
>- Then set the value for each key to be a random number based on:
>>- For odd number keys a random number from from 1-1000
>>- For even number keys a random number from 5000-15000
>- This random value will represent the sales values in dollars

In [2]:
import random

sales = {}

for key in range(1,11):
    sales.setdefault(key,0)
    if key % 2 == 0:
        x = random.randint(5000,15000)
        sales[key] = x
    else:
        y = random.randint(1,1000)
        sales[key] = y
        
sales

{1: 333,
 2: 13075,
 3: 348,
 4: 6798,
 5: 197,
 6: 7821,
 7: 991,
 8: 13024,
 9: 744,
 10: 6776}

### Problem 4.2 
1. Show the random sales values sorted in descending order

In [83]:
sorted(sales.items(), key = lambda x : x[1], reverse = 1)

[(6, 14964),
 (2, 14041),
 (10, 13824),
 (8, 10636),
 (4, 9164),
 (5, 356),
 (9, 146),
 (1, 143),
 (3, 135),
 (7, 59)]

In [107]:
salesList = []
for v in sales.values():
#     print(v)
    salesList.append(v)

salesList.sort(reverse = 1)
print(salesList)

[14964, 14041, 13824, 10636, 9164, 356, 146, 143, 135, 59]

### Problem 4.3
1. Show the maximum sales value using the `max()` function

In [38]:
max(sales.values())

14964

2. Show the minimum sales values using the `min()` function

In [39]:
min(sales.values())

59

3. Show the total sales values using the `sum()` function

In [3]:
sum(sales.values())

50107

In [5]:
saleTot = 0

for i in range(1,11):
#     print(sales[i])
    saleTot += sales[i]
print(saleTot)

50107

4. Show the range of sales values

In [11]:
sortOrd = sorted(sales.items(), key = lambda x: x[1], reverse = 0)

for i in sortOrd:
    print(i[1])

197
333
348
744
991
6776
6798
7821
13024
13075

5. Show the average across all sales values
>- Round to two decimal places

In [17]:
round((sum(sales.values())/len(sales)),2)

5010.7

<a id='Top Page'></a>[Back to Top](#Week-6)