In [2]:
import pandas as pd

In [5]:
wine = pd.read_csv("winemag-data-130k-v2.csv", index_col = 0)

In [7]:
wine.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [9]:
wine.groupby(['points']).points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [12]:
wine.groupby(['points']).points.min()

points
80      80
81      81
82      82
83      83
84      84
85      85
86      86
87      87
88      88
89      89
90      90
91      91
92      92
93      93
94      94
95      95
96      96
97      97
98      98
99      99
100    100
Name: points, dtype: int64

In [14]:
wine.groupby(['points']).points.max()

points
80      80
81      81
82      82
83      83
84      84
85      85
86      86
87      87
88      88
89      89
90      90
91      91
92      92
93      93
94      94
95      95
96      96
97      97
98      98
99      99
100    100
Name: points, dtype: int64

In [16]:
wine.groupby(['country']).points.max()

country
Argentina                  97
Armenia                    88
Australia                 100
Austria                    98
Bosnia and Herzegovina     88
Brazil                     89
Bulgaria                   91
Canada                     94
Chile                      95
China                      89
Croatia                    91
Cyprus                     89
Czech Republic             89
Egypt                      84
England                    95
France                    100
Georgia                    92
Germany                    98
Greece                     93
Hungary                    97
India                      93
Israel                     94
Italy                     100
Lebanon                    91
Luxembourg                 90
Macedonia                  89
Mexico                     92
Moldova                    91
Morocco                    93
New Zealand                95
Peru                       86
Portugal                  100
Romania                    92
Serbia                     89
Slovakia                   87
Slovenia                   92
South Africa               95
Spain                      98
Switzerland                90
Turkey                     92
US                        100
Ukraine                    88
Uruguay                    92
Name: points, dtype: int64

In [23]:
round(wine.groupby(['country']).price.agg(['count','mean','std']),2)

                        count   mean    std
country
Argentina                3756  24.51  23.43
Armenia                     2  14.50   0.71
Australia                2294  35.44  49.05
Austria                  2799  30.76  27.22
Bosnia and Herzegovina      2  12.50   0.71
Brazil                     47  23.77  11.05
Bulgaria                  141  14.65   9.51
Canada                    254  35.71  19.66
Chile                    4416  20.79  21.93
China                       1  18.00    NaN
Croatia                    71  25.45  12.99
Cyprus                     11  16.27   2.83
Czech Republic             12  24.25  12.05
Egypt                       0    NaN    NaN
England                    69  51.68  14.86
France                  17776  41.14  73.77
Georgia                    84  19.32   7.64
Germany                  2120  42.26  62.86
Greece                    461  22.36  10.61
Hungary                   145  40.65  69.45
India                       9  13.33   3.64
Israel                    489  31.77  18.90
Italy                   16914  39.66  38.05
Lebanon                    35  30.69  18.04
Luxembourg                  6  23.33   4.63
Macedonia                  12  15.58   1.44
Mexico                     70  26.79  17.76
Moldova                    59  16.75   9.52
Morocco                    28  19.50   5.90
New Zealand              1378  26.93  17.10
Peru                       16  18.06  13.66
Portugal                 4875  26.22  41.18
Romania                   120  15.24  30.29
Serbia                     12  24.50  10.26
Slovakia                    1  16.00    NaN
Slovenia                   80  24.81  13.98
South Africa             1293  24.67  21.84
Spain                    6573  28.22  34.66
Switzerland                 7  85.29  70.06
Turkey                     90  24.63  13.80
US                      54265  36.57  27.09
Ukraine                    14   9.21   2.19
Uruguay                   109  26.40  18.48

In [25]:
wine.where(wine['country']=='US').groupby('country').price.describe()

           count       mean        std  min   25%   50%   75%     max
country
US       54265.0  36.573464  27.088857  4.0  20.0  30.0  45.0  2013.0

In [29]:
wine.groupby(['country']).points.describe().sort_values(by='mean',ascending=False)

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
England,74.0,91.581081,1.843216,89.0,90.00,91.0,93.00,95.0
India,9.0,90.222222,1.715938,87.0,90.00,90.0,91.00,93.0
Austria,3345.0,90.101345,2.499799,82.0,88.00,90.0,92.00,98.0
Germany,2165.0,89.851732,2.469351,81.0,88.00,90.0,91.00,98.0
Canada,257.0,89.369650,2.384752,82.0,88.00,90.0,91.00,94.0
Hungary,146.0,89.191781,2.686659,81.0,88.00,89.0,90.00,97.0
China,1.0,89.000000,NaN,89.0,89.00,89.0,89.00,89.0
France,22093.0,88.845109,3.044423,80.0,87.00,89.0,91.00,100.0
Luxembourg,6.0,88.666667,0.816497,88.0,88.00,88.5,89.00,90.0
Australia,2329.0,88.580507,2.989900,80.0,87.00,89.0,91.00,100.0
Switzerland,7.0,88.571429,2.507133,83.0,89.00,89.0,90.00,90.0
Morocco,28.0,88.571429,1.687175,85.0,88.00,88.5,89.25,93.0
US,54504.0,88.563720,3.114840,80.0,86.00,88.0,91.00,100.0
Italy,19540.0,88.562231,2.649756,80.0,87.00,88.0,90.00,100.0
Israel,505.0,88.471287,2.478412,80.0,87.00,89.0,90.00,94.0
New Zealand,1419.0,88.303030,2.435008,80.0,87.00,88.0,90.00,95.0
Portugal,5691.0,88.250220,2.996122,80.0,86.00,88.0,90.00,100.0
Turkey,90.0,88.088889,1.975379,84.0,87.00,88.0,90.00,92.0
Slovenia,87.0,88.068966,1.730661,82.0,87.00,88.0,89.00,92.0
South Africa,1401.0,88.056388,2.435826,82.0,86.00,88.0,90.00,95.0
Bulgaria,141.0,87.936170,2.077817,80.0,87.00,89.0,89.00,91.0
Georgia,86.0,87.686047,2.087845,82.0,87.00,88.0,89.00,92.0
Lebanon,35.0,87.685714,2.784109,82.0,86.50,88.0,90.00,91.0
Armenia,2.0,87.500000,0.707107,87.0,87.25,87.5,87.75,88.0
Serbia,12.0,87.500000,1.314257,86.0,86.00,87.5,89.00,89.0
Spain,6645.0,87.288337,3.066284,80.0,85.00,87.0,89.00,98.0
Greece,466.0,87.283262,2.185293,82.0,86.00,87.0,89.00,93.0
Czech Republic,12.0,87.250000,1.712255,84.0,86.50,88.0,88.25,89.0
Croatia,73.0,87.219178,2.399344,81.0,86.00,88.0,89.00,91.0
Moldova,59.0,87.203390,2.419601,82.0,86.00,88.0,89.00,91.0
Cyprus,11.0,87.181818,1.601136,85.0,86.00,87.0,88.50,89.0
Slovakia,1.0,87.000000,NaN,87.0,87.00,87.0,87.00,87.0
Macedonia,12.0,86.833333,1.749459,84.0,85.75,87.0,88.00,89.0
Uruguay,109.0,86.752294,2.687957,80.0,85.00,87.0,88.00,92.0
Argentina,3800.0,86.710263,3.179627,80.0,84.00,87.0,89.00,97.0
Bosnia and Herzegovina,2.0,86.500000,2.121320,85.0,85.75,86.5,87.25,88.0
Chile,4472.0,86.493515,2.692959,80.0,85.00,86.0,88.00,95.0
Romania,120.0,86.400000,1.716945,82.0,85.00,86.0,87.25,92.0
Mexico,70.0,85.257143,2.722348,80.0,83.00,85.0,87.00,92.0
Brazil,52.0,84.673077,2.340782,80.0,83.00,85.0,86.00,89.0
Ukraine,14.0,84.071429,1.591530,82.0,83.00,84.0,84.75,88.0
Egypt,1.0,84.000000,NaN,84.0,84.00,84.0,84.00,84.0
Peru,16.0,83.562500,1.860779,80.0,82.00,84.0,85.00,86.0