# Week 11 
## In-Class Activity Workbook and Homework

## Learning Objectives 
### In this notebook you will learn about and practice:
1. Section 1: <a id='Section 1'></a>[Section 1: Find Replace](#Section-1)
2. Section 2: <a id='Section 2'></a>[Section 2: Missing Data imputation](#Section-2)
3. Section 3: <a id='Section 3'></a> [Section 3: Rename](#Section-3)

### Additional Sources
>- Check out the `pandas` cheat sheets provided by Data Camp and posted on Canvas
>>- https://www.datacamp.com/community/blog/python-pandas-cheat-sheet
>- Pretty good article walking through `map()`, `apply()`, and `applymap()`
>>- https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff

# Section 0
## Read and Review Data

## Reading and Writing Files with the python `pandas` module

### Read csv or Excel files
>- csv files: `pd.read_csv('fileName.csv')`
>- Excel files: `pd.read_excel('fileName.xlsx')`
>- Multiple sheets from the same Excel file: 
>>- `xlsx = pd.ExcelFile('file.xls')` # reads in the entire workbook
>>- `df1 = pd.read_excel(xlsx, 'Sheet1')`  # reads in sheet you specify
>>- `df2 = pd.read_excel(xlsx, 'Sheet2')`

### Write csv or Excel files
>- csv files: `pd.to_csv('YourDataFrame.csv')`
>- Excel files: `pd.to_excel('YourDataFrame.xlsx')`

### Step 1: Check your working directory and make sure you have the `winemag-data-130k-v2.csv` files there

In [1]:
import os, numpy as np

for file in os.listdir():
    if file.find('wine') == 0:
        print(file)

winemag-data-130k-v2.csv

### Step 2: import the `pandas` module and alias it `pd`

In [2]:
import pandas as pd

### Step 3: Read the ``winemag-data-130k-v2.csv` file into a pandas dataframe named, `wine`
>- Set the index to column 0
>- Look at the first five records to make sure `wine` is imported correctly

#### Loading a CSV file
function: `pd.read_csv()`

[Docu read_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html?highlight=read_excel#pandas.read_excel)

In [3]:
wine = pd.read_csv('winemag-data-130k-v2.csv',index_col=0)

In [4]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

#### Show the last five records of `wine`

In [5]:
wine.tail()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

#### Show a tuple of the number of columns and rows in `wine`

In [6]:
wine.shape

(129971, 13)

#### Show the columns in `wine`

In [7]:
wine.shape[1]

13

#### Show the datatypes that are in `wine`

In [8]:
wine.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

### Show the summary stats for all columns in `wine`
>- Check the documentation on `describe()` to learn how to show descriptive analytics for all columns regardless of data type
>>- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

In [9]:
wine.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

### Show a list of unique wine tasters

In [10]:
wine.taster_name.unique()

# pd.unique(wine.taster_name)

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

### Show the unique counts of values for all columns in the `wine` dataframe

In [15]:
# wine.describe(include ='all')
wine.nunique()

country                      43
description              119955
designation               37979
points                       21
price                       390
province                    425
region_1                   1229
region_2                     17
taster_name                  19
taster_twitter_handle        15
title                    118840
variety                     707
winery                    16757
dtype: int64

### Show how many times each tasters name occurs

In [16]:
wine.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

# Section 1
## Finding and Replacing Values

### Q1: What is the data type of the `points` column in the winemag csv?

In [18]:
wine.points.dtype

dtype('int64')

### Q2: Create a new Series from the records in the `points` column:
>- Convert the entries to strings
>- Name your Series `points_string` and add it to your `wine` dataframe
>>- Hint: look up the `astype` function
>- Show the first five records of `wine` after you add the new column

In [25]:
wine['points_string'] = wine.points.astype('str')

In [27]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87

In [28]:
wine.points_string.dtypes

dtype('O')

### Q3: How many reviews in the dataset are missing a price?

In [51]:
# wine.price.isna().sum()
wine.price.isnull().sum()

8996

### Q4: How many records are missing a review (points) score?

In [55]:
# wine.points.isna().sum()
wine.points.isnull().sum()

0

### Q5: How many null values are there in every column?

In [57]:
# wine.isnull().sum()
wine.isna().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
points_string                0
dtype: int64

### Q6: What are the most common wine-producing regions?
#### Subquestion: how many wines are missing `region_1` in our dataset?

>- First, replace all null values in the `region_1` series with 'Unknown' 
>- Then define a Series named, `region_reviews`, that will store the counts
>>- Use `region_1` as the region field you are trying to count
>- Sort the results in descending order
>- Hint: You might want to use `fillna()`, `value_counts()`, and/or `sort_values()` to help answer this question

In [69]:
wine['region_1'].value_counts().head()

Napa Valley             4480
Columbia Valley (WA)    4124
Russian River Valley    3091
California              2629
Paso Robles             2350
Name: region_1, dtype: int64

In [84]:
reg_rev = wine.region_1.fillna('Unknown')

wine['region_1'] = reg_rev

wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Unknown,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87

In [271]:
# region_reviews = pd.Series(wine['region_1'].value_counts()).to_frame().head()
region_reviews = pd.Series(wine['region_1'].value_counts()).to_frame().head()
region_reviews
# region_reviews = pd.Series(wine['region_1'].value_counts(), index = wine['region_1'].nunique())
# region_reviews.where(region_reviews == 'A')
# wine['region_reviews'] = region_reviews

                      region_1
Unknown                  21247
Napa Valley               4480
Columbia Valley (WA)      4124
Russian River Valley      3091
California                2629

#### Show the top 5 wine producing regions based on the `region_1` field
>- Exclude 'Unknown' from your results

In [268]:
# region_reviews[region_reviews != 'Unknown']
# region_reviews.filter(items = ['Unknown'])
region_reviews[~region_reviews.index.isin(list('Unknown'))]

                      region_1
Unknown                  21247
Napa Valley               4480
Columbia Valley (WA)      4124
Russian River Valley      3091
California                2629

# Section 2
## Dealing with missing data
>- Missing data is one of the most pervasive problems in data analysis
>- No matter what field you work in you will likely come across datasets that contain incomplete data for some records
>>- Missing data can occur because experimental units may die (e.g, rats in a clinical study), equipment malfunctions, respondents to surveys do not answer all questions, or simply someone that is in charge of recording data goofs. 
>- The seriousness of the missing data depends on the amount of missing data, the pattern of missing data, and why it is missing
>>- The why and the pattern of missing data is more important that the amount of missing data. However, missing data will have a larger impact on small datasets than larger datasets 

>- This section focuses on some common strategies for handling missing data

## Common strategies for dealing with missing data

Tabachnick & Fidell (2019) give us several commonly used methods for handling missing data values values. 

1. Remove any records that contain missing data 
>- If only a few records/cases have missing data and they seem to be a random subsample of the whole sample, deletion can be a good method of dealing with missing data
2. Estimating missing data
>- A second option is to estimate (impute) missing values and then use the estimates during analysis. Here are some common estimation methods
>>- Use prior knowledge to estimate the value. Here, the analyst/researcher replaces missing values with an educated case based on expertise in the area. 
>>- Mean replacement. Calculate the overall mean of the feature and impute that for all missing values. In absence of all other information, the mean is the best guess about the value of a feature/variable
>>- Median replacement. Calculate the median of the feature and impute that for all missing values
>>- Regression replacement. A more sophisticated approach would be to use a regression model and impute missing values based on the values of other features that we do have data on

#### Regardless of what method is used for missing data, it is recommended to:
1. Create a new feature that stores information on whether or not missing data was imputed
>- This is a binary column (usually 0's and 1's) indicating if missing data was imputed for a record or not
2. Repeat the analysis with and without missing data and imputation methods and determine if conclusions are the same under each circumstance

#### Reference: Tabachnick & Fidell (2019). *Using Multivariate Statistics*. Pearson.

## Practice imputing mean values for missing data

### Q7:  Calculate the mean price and store the mean in a variable, `meanPrice`
>- Round to two decimal places

In [146]:
meanPrice = round(wine.price.mean(),2)
meanPrice

35.36

### Q8: Replace all missing prices in the `wine` DataFrame with `meanPrice`
>- Store the prices with imputed mean prices in a new column named, `priceImpute` in the wine DataFrame

In [154]:
priceImpute = wine['price'].fillna(meanPrice)
wine['priceImpute'] = priceImpute

##### Now check the number of missing values in all columns
>- Double check your new `priceImpute` column doesn't contain missing values

In [155]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string,region_reviews,priceImpute
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87,NaN,35.36
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Unknown,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87,NaN,15.00
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,NaN,14.00
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,NaN,13.00
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,NaN,65.00

### Q9: What are the descriptive statistics for the original `price` column and the `priceImpute` column?
>- Compare the descriptive stats between the two fields0 and determine if the difference is significant

In [161]:
wine[['price','priceImpute']].describe()

               price    priceImpute
count  120975.000000  129971.000000
mean       35.363389      35.363155
std        41.022218      39.577066
min         4.000000       4.000000
25%        17.000000      18.000000
50%        25.000000      28.000000
75%        42.000000      40.000000
max      3300.000000    3300.000000

### Q10: Create a column, `imputeFlag`, that stores a 1 if the record used an imputed mean and a 0 if it does not

### One way to do this is to use the `map()` function
>- `map()` is used to substitute each value in a Series with another value
>- General syntax: `Series.map(arg,na_action=None)`
>>- Where *arg* can be a function, a dictionary, or a Series

Source: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html

>- For example, `wine['price'].map(lambda row: 0 if row >0 else 1)` uses a lambda function as the *arg* passed to *map()* to transform all the values in the `price` column to a Series of 0's or 1's based on the logic used in the lambda function
>- You could also define your own function and then pass that function into *map()*

In [167]:
wine['imputeFlag'] = wine['price'].map(lambda x: 0 if x > 1 else 1)

wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string,region_reviews,priceImpute,imputeFlag
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87,NaN,35.36,1
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Unknown,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87,NaN,15.00,0
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,NaN,14.00,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,NaN,13.00,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,NaN,65.00,0

#### Show the first five records of `wine` with all of your changes

In [168]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string,region_reviews,priceImpute,imputeFlag
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87,NaN,35.36,1
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Unknown,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87,NaN,15.00,0
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,NaN,14.00,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,NaN,13.00,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,NaN,65.00,0

#### Show all the column names in `wine`

In [170]:
wine.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'points_string', 'region_reviews', 'priceImpute',
       'imputeFlag'],
      dtype='object')

#### Show the total null values in each column in `wine`

In [171]:
wine.isnull().sum(axis=0)

country                      63
description                   0
designation               37465
points                        0
price                      8996
province                     63
region_1                      0
region_2                  79460
taster_name               26244
taster_twitter_handle     31213
title                         0
variety                       1
winery                        0
points_string                 0
region_reviews           129971
priceImpute                   0
imputeFlag                    0
dtype: int64

# Section 3
1. Renaming Columns
2. More Descriptive Analytics Practice

### Q11: Create a new DataFrame, wineUS, from `wine` for only US wines

In [175]:
wineUS = wine.loc[wine.country == 'US']

wineUS.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string,region_reviews,priceImpute,imputeFlag
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,NaN,14.0,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,NaN,13.0,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,NaN,65.0,0
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,87,NaN,19.0,0
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,87,NaN,34.0,0

#### In the next few cells go through the usual initial data examination steps that we have covered anytime we define a new data frame
>- Show the first five records of `wineUS`, show the columns, show value counts, etc

In [176]:
wineUS.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string,region_reviews,priceImpute,imputeFlag
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,NaN,14.0,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,NaN,13.0,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,NaN,65.0,0
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,87,NaN,19.0,0
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,87,NaN,34.0,0

In [177]:
wineUS.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'points_string', 'region_reviews', 'priceImpute',
       'imputeFlag'],
      dtype='object')

In [179]:
wineUS.shape

(54504, 17)

In [181]:
wineUS.taster_name.value_counts()

Virginie Boone        9537
Paul Gregutt          9303
Matt Kettmann         6331
Sean P. Sullivan      4934
Jim Gordon            4177
Anna Lee C. Iijima    2435
Alexander Peartree     415
Susan Kostrzewa        232
Carrie Dykes           139
Joe Czerwinski         103
Michael Schachner       71
Fiona Adams             27
Lauren Buzzeo           19
Christina Pickard        5
Roger Voss               2
Name: taster_name, dtype: int64

In [183]:
wineUS.region_1.value_counts()

Napa Valley                           4480
Columbia Valley (WA)                  4124
Russian River Valley                  3091
California                            2629
Paso Robles                           2350
                                      ...
Napa-Monterey-Mendocino                  1
Sonoma County-Santa Barbara County       1
Niagara Escarpment                       1
Napa Valley-Paso Robles                  1
Isle St. George                          1
Name: region_1, Length: 265, dtype: int64

### Q12: How many records/rows have null prices?

In [185]:
wineUS.price.isna().sum()

239

### Q12: Rename the following columns
>- 'province' to 'state'
>- 'taster_name' to 'taster'
>- 'taster_twitter_handle' to 'twitter_handle'
>- 'points' to 'rating'

##### Note: Make all of these name changes in-place

In [215]:
wineUS = wineUS.rename(columns = {'province':'state','taster_name':'taster','taster_twitter_handle':'twitter_handle','points':'rating'})

#### Show the first 5 records after your change

In [216]:
wineUS.head()

,country,description,designation,rating,price,state,region_1,region_2,taster,twitter_handle,title,variety,winery,points_string,region_reviews,priceImpute,imputeFlag
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,NaN,14.0,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,NaN,13.0,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,NaN,65.0,0
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,87,NaN,19.0,0
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,87,NaN,34.0,0

### Q13: How many records in `wineUS` have imputed values for `price`?

In [217]:
wineUS[wineUS['imputeFlag']==1].count()['imputeFlag']

239

### Q14: What are the descriptive stats for `price` and the imputed price field?

In [218]:
wineUS[['price','priceImpute']].describe()

              price   priceImpute
count  54265.000000  54504.000000
mean      36.573464     36.568143
std       27.088857     27.029518
min        4.000000      4.000000
25%       20.000000     20.000000
50%       30.000000     30.000000
75%       45.000000     45.000000
max     2013.000000   2013.000000

### Q15: Create a new column that transforms all the state values into state abbreviations based on using the first two letters of the state
>- Name the new column `st`
>- Make sure to have the abbreviations stored as upper case for both letters
>- Insert this column to the right of the state column

In [222]:
st = wineUS['state'].str[0:2].str.upper()

st

2         OR
3         MI
4         OR
10        CA
12        CA
          ..
129945    CA
129949    CA
129950    CA
129952    CA
129967    OR
Name: state, Length: 54504, dtype: object

In [231]:
wineUS.insert(6,'st',st,True)
wineUS.head()

,country,description,designation,rating,price,state,st,region_1,region_2,taster,twitter_handle,title,variety,winery,points_string,region_reviews,priceImpute,imputeFlag
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,OR,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,NaN,14.0,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,MI,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,NaN,13.0,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,OR,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,NaN,65.0,0
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,CA,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,87,NaN,19.0,0
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,CA,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,87,NaN,34.0,0

### Q16: What are the average ratings and prices for each state?
>- Look the results using both `price` and `priceImpute`
>- Show the sample size (counts) as well as the means
>- Round everything to 2 decimal places

In [237]:
round(wineUS.groupby('st')[['price','priceImpute']].agg(['mean','count']),2)

    price        priceImpute
     mean  count        mean  count
st
AM  19.89     95       19.89     95
AR  29.20     40       29.35     41
CA  39.04  36104       39.03  36247
CO  32.24     71       32.24     71
HA  28.00      1       28.00      1
ID  20.77    190       20.92    192
IL  32.33      6       32.33      6
IO  15.50      4       15.50      4
KE  35.00      1       35.00      1
MA  21.29      7       21.29      7
MI  28.97    144       29.10    147
NE  22.85   2733       22.90   2745
NO  21.00     23       21.00     23
OH  13.75     12       13.75     12
OR  36.55   5359       36.54   5373
PE  23.33     18       23.33     18
RH  25.00      1       25.00      1
TE  25.60     93       25.71     94
VE  31.67      3       31.67      3
VI  27.01    770       27.09    777
WA  32.42   8590       32.44   8646

### Q17: What is the correlation between ratings and price?
>- Look at the correlations between rating and both price fields
>- Are the results what you would expect? Why or why not?

Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html

In [240]:
wineUS[['rating','price']].corr(method = 'pearson')

          rating     price
rating  1.000000  0.453079
price   0.453079  1.000000

### Q18: Show the number of imputed prices by state?
>- Is there anything in the results that would be a red flag for non-random  missing data?
>- Do any states have a disproportionate number of missing values relative to their total wines/records?
>- After you look at this by state, look at the results by state then region_1

In [257]:
wineUS[wineUS['priceImpute'].isna()].groupby('st').head()

Empty DataFrame
Columns: [country, description, designation, rating, price, state, st, region_1, region_2, taster, twitter_handle, title, variety, winery, points_string, region_reviews, priceImpute, imputeFlag]
Index: []

#### Now look at the imputed price values by state and region
>- Sort the results in descending order
>- What state and regions have the highest number of missing prices?