# Python Basics - Student Notes
***
## Learning Objectives
>- In this lesson, we will learn:
        1. How to use jupyter notebooks to enter expressions in Python
        2. Use Python to perform math operations 
        3. Work with common data types (integers, floating-point, strings, etc)
        4. Store values in variables
        5. Basic functions (print(), len(), input(), etc)
        6. Write your first Python program! 
        
## Modules covered in this lesson: 
>- none

## Links to topics and functions:
>- `Entering Expressions` <a id='Entering Expressions'></a>
[Basic Python Functions](#Entering-Expressions)
>- `Math Operators` <a id='MathOps'></a>
[Math Ops](#Math-Operators-in-Python)
>- `Common Data Types` <a id='DataTypes'></a> [Data Types](#Common-Data-Types)

>- `print()` <a id='print()'></a>
[print() Function](#Basic-Python-Functions) 
>- `input()` <a id='input()'></a>
[input() Function](#Basic-Python-Functions)
>- `len()` <a id='len()'></a>[len() Function](#Basic-Python-Functions)
>- `str()` <a id='str()'></a>
[str() Function](#Basic-Python-Functions)
>- `int()` <a id='int()'></a>
[int() Function](#Basic-Python-Functions)
>- `float()` <a id='float()'></a>
[float() Function](#Basic-Python-Functions)


### Path to main python folder: C:\\Users\\mimc2537\OneDrive - UCB-O365\python\week1
#### References: Sweigart(2015, pp. 13-28)

###### Navigating Jupyter Basics 
1. Green highlighted cell: this means you are in edit mode
    - Edit mode is where you will enter text or code
    - In edit mode you enter text similar to a normal text editor
2. Grey highlighted cell means you are in command mode: 
    - Allows you to edit the notebook as a whole
    - Add/delete cells (type `a` to insert cell above, `b` insert cell below)
    - Change cell to `code` cell by typing `y`
    - Change cell to `markdown` cell by typing `m`
    - Typing `dd` will in command mode will delete a cell
3. Running Code
    - `ctrl + enter` will run the code and keep you in the current cell
    - `alt + enter` will run the code and take you to a new cell

### Exercise: Navigating Jupyter
- Add a cell above this one
- Add a cell below this one
- Change the cell above this one to a markdown cell
- Change the cell below this one to a code cell
- Delete the cells

# Entering Expressions

In [1]:
#We can use python as a calculator, enter the followingL

2+2

4

#### Note: In python `2+2` is called an *expression* which consist of *values* and *operators*.

Q: What are the values in the previous expression?

Q: What was the operator in the previous expression?

# Math Operators in Python
### Python follows the standard mathmatical order of operations
The table below lists the math operators in the order of opertations:


|Operator | Operation     | Example | Evaluates to...|
|:-------:|:---------:    |:-------:|:--------------:|
|**       |Exponent       |2 ** 3   |8               |
|*        |Multiplication |3 * 5    |15              |
|/        |Division       |22 / 8   |2.75            |
|//       |Integer Divsion|22 // 8  |2               |
|%        |Modulus        |22 % 8   |6               |
|-        |Subtraction    |5 - 2    |3               |
|+        |Addition       |2 + 2    |4               |

Lets work through some examples and get a refresher on our mathemtical order of operations.

In [3]:
2 + 3 * 6

20

In [4]:
(2 + 3) * 6

30

In [5]:
458 * 578

264724

In [6]:
2 ** 8

256

In [7]:
23 / 7

3.2857142857142856

In [8]:
23 // 7

3

In [9]:
 23 % 7

    
#Q: What does the modulus operator return?
#A: int remander

2

In [10]:
(5 - 1) * ((7 + 1) / (3 - 1))

16.0

#### On your own: do the step by step math in the previous expression showing the correct order of operations

# Common Data Types

>- Integer
>- Floating-Point
>- String

Definition: a *data type* is a category for values, and every value belongs to exactly one data type. 

Definition: The *integer* (or *int*) data type indicates values that are whole numbers (e.g., 1, 5, -20, -10, etc)

Definition: The *Floating-point* data type indicates numbers that have a decimal point (e.g., 15.2, 20.1, -10.0, etc)

Definition: The *string* data type indicates text values (e.g., 'Hello', 'World', 'Hello world', etc)
>- Note: Always surround string data with single quote (') charecters

## Exercises:  
1. Create new cells below this one and complete the following. 
 - Add two integers together. Note the data type returned
 - Add two floating points together. Note the data type returned. 
 - Add an integer and a floating point together. Note the data type returned.

In [11]:
2 + 2

#A: Data type returned: int

4

In [12]:
12.435 + 67.124

#A: Data type returned : floating point

79.559

In [13]:
5 + 11.234

#A: Data type returned: Floating point

16.234

## String Concatenation and Replication
>- While the `+` operator adds two numbers, when used on strings it joins the strings as the *string concatenation* operator. 
>- The `*` operator multiplies two numbers, but when used on strings it becomes the *string replication* operator.

In [15]:
'Firstname' + ' Lastname'

'Firstname Lastname'

In [16]:
'Firstname' * 5

'FirstnameFirstnameFirstnameFirstnameFirstname'

In [17]:
'-' * 20

'--------------------'

# Storing Values in Variables

Definition: a *variable* is used to store a single value in the computer's memory

Definition: an *assignment statement* is a variable name, an `=` sign, and the value to be stored.  

Variable Name Rules
1. Variable names can only be one word.
2. Variable names can use only letter, numbers, and the underscore `_` charecter.
3. Variable names cannot begin with a number.

Note1: variable names are case-sensitive. For example, firstName is different than FirstName is different than Firstname.

Note2: a good variable name describes the data it contains.

In [19]:
var1 = 40    #Here, var1 is the variable assigned with the = the value of 40.
var1

40

Note: once you asign a variable a value, you can use the variable name in other expressions with other variables and values.

In [20]:
var1 * 2

80

In [22]:
var2 = 2

In [23]:
var1 * var2

80

In [25]:
var1 = 20    #Note we are overwriting the value originally stored in var1. Any future use of var1 will now have this value
var1

20

In [26]:
var1 + var2

22

In [28]:
var2 = 'spam'
#Q: What will happen on the next line if we enter var1 * var2?
#Q: What will happen on the next line if we enter var2 + 2?

In [29]:
var1 * var2

'spamspamspamspamspamspamspamspamspamspamspamspamspamspamspamspamspamspamspamspam'

In [31]:
var2 + '2'

'spam2'

# Basic Python Functions

>- print(), Displays the string value inside the parentheses on the screen. 
>- input(), Waits for the user to type something on the keyboard and press enter
>- len(), Evaluates the number of characters in a string or variable containing a string
>- str(), converts a data  type to a string
>- int(), this function can convert a number stored as a string to an integer. It also can take a floating point number and round down to the nearest integer value. 
>- float(), this can convert an integer value to a floating
>- type(), this function let's us see what data type something is

Let's work through some basic uses of these functions.

In [32]:
print('Hello Worlds OHYAH')

Hello Worlds OHYAH

In [33]:
print('What is you name:')

What is you name:

In [34]:
myName = input() #Note: When you run this you shoulkd get a box to enter your name

Daniel

In [35]:
myName

'Daniel'

Q: What value should the variable myName now have?

In [36]:
print('It is nice to meet you, ' + myName)

It is nice to meet you, Daniel

In [43]:
len(myName)
#This is returning the actual value 6

6

In [41]:
print(len(myName))
#This is not acutally returning anything, just displaying info from a string
#PRINT DOES NOT RETURN A VALUE

6

Q: What is the difference between the values of the prior two statements? (`len(myName)` vs. `print(len(myName)`)? 

Hint: run some operations on each one of those statements and see what you get.

In [44]:
print(len(myName)) * 2

6

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [45]:
len(myName) * 2
#LENGTH FUNCTION DOES RETURN VALUE / INT

12

In [46]:
str(len(myName)) + str(2)

'62'

In [49]:
print('I am ' + '21' + ' years old.')

I am 21 years old.

Q: Why do we get an error from the code in the previous cell?

Q: How can we fix the error?

In [51]:
print('I am ' + str(21) + ' years old.')

I am 21 years old.

Q: What all is going on in the prior code? Write out what you think Python is doing step by step. I've outlined at least 6 steps but if you have more feel free to add to this. 

1. 
2. 
3. 
4. 
5. 
6. 

Now, let's go through some other functions. 

For each of the following examples, note what happens to the values that you pass into the functions.

In [52]:
str(0)

'0'

In [53]:
str(-7.32)

'-7.32'

In [54]:
int('42')

42

In [55]:
int('-23')

-23

In [56]:
int(1.23)

1

In [57]:
float('3.14')

3.14

In [58]:
float(12)

12.0

What if we are working away and we lose track of what data type we are working with? 

This is where the type() function comes in handy.

In [59]:
var1 = 223

In [60]:
float(var1)

223.0

In [61]:
str(var1)

'223'

In [62]:
type(var1)

int

In [ ]:
#A: We never reassigned var1 to a float or str, just applied a function to var1

Q: Why is `var1` still showing up as `int` data type?

In [63]:
var1 = float(var1)

In [64]:
type(var1)

float

In [65]:
var1 = str(var1)

In [66]:
type(var1)

str