# BAIM 3220: Introduction to Python
## Quiz #6: Data Structures and String Manipulation
## After downloading this .ipynb file from Canvas, resave with the following naming format:
>- LastName_FirstName_Quiz6.ipynb


## When you are ready to submit your quiz, upload your .ipynb file to the Quiz#6 dropbox on Canvas

# Q1 (21 points)
## Function to create a list and format user entered strings
## In the next cell define a function, `listform` that meets the following specifications:
### Specifications:
>-  The function must display text that tells the user "This is a program to create a list"
>-  You must use a `while` loop in your code
>-   Store the values in a list variable called, `aList`
>-  Prompt the user to enter values for their list and tell them how to exit the program when they are done
>>-   Exit the program if the user hits `enter` without typing any characters
>-   Print the users final list formatted as indicted below:
      >>- When printed to the screen the user should see their list items formatted like the following: 
      >>- `Red, Orange, Yellow`
      >>>- Note the items should print with the first letter capitalized even if the user enters all lower case

### Define your function in the next cell but do not call it yet

In [134]:
def listForm():
    aList = []
    i = 0
    while True:
        val = input('Add a value to the list, then hit (enter) to exit: ')
        if val == '':
            print('Thank you! Come again.')
            break
        else:
            aList.append(val.title())
            i += 1
    x = 0
    for i in aList:
        if x < (len(aList)-1):
            print(i,end = ', ')
            x += 1
    print(f'and {aList[len(aList)-1]}')

### Call `listform()` in the next cell and enter the following strings as user inputs
>- Note: enter the following strings:
>>- apple, BANANA, oRange, onioN

In [135]:
listForm()

Add a value to the list, then hit (enter) to exit: apple
Add a value to the list, then hit (enter) to exit: BANANA
Add a value to the list, then hit (enter) to exit: oRange
Add a value to the list, then hit (enter) to exit: onioN
Add a value to the list, then hit (enter) to exit:
Thank you! Come again.
Apple, Banana, Orange, and Onion

# Q2 (15 points)
## The seven dwarfs lists
### Use the following list to answer questions Q2a-Q2e

In [137]:
dwarfs = ['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Dopey']

## Q2a (3 points)
### In the next cell, change 'Dopey' to 'Scrappy' and print the list before and after the change

In [138]:
print(dwarfs)

dwarfs[-1] = 'Scrappy'

print(dwarfs)

['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Dopey']
['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Scrappy']

##  Q2b (3 points)
### In the next cell, make a copy of the dwarfs list named, `dwarfs2`, and print its value.

In [139]:
dwarfs2 = dwarfs.copy()

print(dwarfs2)

['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Scrappy']

## Q2c (3 points)
### In the next cell, sort the `dwarfs2` list in descending order and print the list before and after the sort.

In [140]:
print(dwarfs2)

dwarfs2.sort(reverse = 1)

print(dwarfs2)

['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Scrappy']
['Sneezy', 'Sleepy', 'Scrappy', 'Happy', 'Grumpy', 'Doc', 'Bashful']

## Q2d (3 points)
### In the next cell, add a new dwarf, 'Hungry', to `dwarfs2` and print the list before and after the change.

In [141]:
print(dwarfs2)

dwarfs2.append('Hungry')

print(dwarfs2)

['Sneezy', 'Sleepy', 'Scrappy', 'Happy', 'Grumpy', 'Doc', 'Bashful']
['Sneezy', 'Sleepy', 'Scrappy', 'Happy', 'Grumpy', 'Doc', 'Bashful', 'Hungry']

## Q2e (3 points)
### Insert a new dwarf, 'Booboo', as the second item in the list `dwarfs2` and print the list before and after the insert

In [142]:
print(dwarfs2)

dwarfs2.insert(1, 'Booboo')

print(dwarfs2)

['Sneezy', 'Sleepy', 'Scrappy', 'Happy', 'Grumpy', 'Doc', 'Bashful', 'Hungry']
['Sneezy', 'Booboo', 'Sleepy', 'Scrappy', 'Happy', 'Grumpy', 'Doc', 'Bashful', 'Hungry']

# Q3 (39 points)
## Count the number of occurrences for each letter in a given string, `karl`
### Specifications
>- You must use the given string, `karl`, defined in the next cell
>- Store the results in a dictionary named, `char` with letters as keys and the counts as values
>- Count all letters (lowercase and uppercase) the same
>>- For example, if the string has lower case 't' and upper case 'T' those should be counted as the same letter
>- Print the keys and values in a vertical format by importing a module discussed in class notes
>- Do not count anything other than letter

### Run the next cell to assign `karl` the string value given

In [1]:
karl =  '''
I did have that inklIng In The back of my mind thouGh that my fondness
for The University of Colorado and getting a chance to BE In this position would 
be a dream and it came true
'''

### Q3a (12 points): Write your code to count the number of occurrences of each letter in the next cell
>- Reminder: Do not count any other characters other than letters
>- Store the letters and counts of letters in a dictionary named, `count`
>- A letter should be counted the same whether it is upper or lower case

In [2]:
count = {}

for char in karl.replace('\n','').replace(' ','').lower():
    
    count.setdefault(char,0)
    
    count[char] = count[char] + 1
    
count

{'i': 14,
 'd': 9,
 'h': 9,
 'a': 12,
 'v': 2,
 'e': 12,
 't': 15,
 'n': 13,
 'k': 2,
 'l': 3,
 'g': 4,
 'b': 3,
 'c': 5,
 'o': 12,
 'f': 4,
 'm': 5,
 'y': 3,
 'u': 4,
 's': 5,
 'r': 5,
 'p': 1,
 'w': 1}

### Q3b (3 points) In the next cell, `char` in a vertical format
>- Use a module discussed in class notes to do this

In [145]:
import pandas as pd
pd.DataFrame(count.values(), index = count.keys())

    0
i  14
d   9
h   9
a  12
v   2
e  12
t  15
n  13
k   2
l   3
g   4
b   3
c   5
o  12
f   4
m   5
y   3
u   4
s   5
r   5
p   1
w   1

### Q3c (6 points): Sort the values in the dictionary you defined in the previous problem in descending order
>- Assign the sorted object as a variable named, `sortcount`
>- Then print `sortcount`

#### Define and print `sortcount` in the next cell

In [146]:
sortcount = sorted(count.items(), key = lambda x : x[1], reverse = 1)

print(sortcount)

[('t', 15), ('i', 14), ('n', 13), ('a', 12), ('e', 12), ('o', 12), ('d', 9), ('h', 9), ('c', 5), ('m', 5), ('s', 5), ('r', 5), ('g', 4), ('f', 4), ('u', 4), ('l', 3), ('b', 3), ('y', 3), ('v', 2), ('k', 2), ('p', 1), ('w', 1)]

### Q3d (3 points): Show the data type of `sortcount` in the next cell

In [147]:
type(sortcount)

list

### Q3e (3 points) Show the letter with the most occurrences in the next cell
>- Show the letter and its count
>- You must use appropriate python code and show the output (do not manually type the values)

In [148]:
print(max(sortcount, key = lambda x : x[1])[0],':',max(sortcount, key = lambda x : x[1])[1])

t : 15

### Q3f (12 points) Write python code to calculate and print the average number of letter occurrences
>- Your print statement should look like the following with appropriate numbers printed in place of the general variables shown in curly braces {}
>>- In the string, karl, there were:
        - Unique Letters: {uniqueLetters}
        - Total Letters: {total letters}
        - Average Number of letter occurrences: {avgCount}

Note: Use f-string formatting and not markdown to print this statement

In [149]:
uniqueLetters = len(count)
totalLetters = sum(count.values())
avgCount = round((sum(count.values())/len(count)),2)

print(f'Unique Letters: {uniqueLetters}')
print(f'Total Letters: {totalLetters}')
print(f'Average Number of letter occurrences: {avgCount}')

Unique Letters: 22
Total Letters: 143
Average Number of letter occurrences: 6.5