# BAIM 3220: Introduction to Python
#### Midterm Review Lab: Python Fundamentals: Variables, Flow Control, Functions, Data Structures
>- This lab should help prepare you for the midterm
>- The midterm is designed to assess your understanding of Python programming fundamentals and will cover:
>>- Variables, Flow Control, Functions, and Data Structures
>- In addition to these review exercises another good strategy for midterm preparation is to go back over the markdown notes and quizzes and make sure you can write the code from examples and past quizzes
>>- A potentially useful strategy would be to make copies of prior notes and quizzes, then delete all the code in those copied notebooks, then try to rework the problems without looking at your notes.
>>- Resist the urge to look back at notes until you have attempted the problems on your own. The less you have to rely on your notes or looking things up online the better your chances of finishing all the problems. You will likely experience a time crunch if you rely on your notes or looking things up too much.  

### Some Notes on the Midterm
>- Time: you will have 80 minutes to complete the exam AND upload your .ipynb file to Canvas
>>- Late submissions will receive a 10% deduction in points up to 5 minutes late
>>- You must submit any late notebooks to the quiz comments in Canvas and not through email for it to be accepted. If you do not know how to do this there have been Canvas announcements outlining the steps. 
>>- Late submissions received after 5 minutes late will not be graded and will be recorded as a 0. This includes if you email the files and do not include them in the Canvas quiz comments. Emailed files will not be accepted. 



#### Submission: After downloading this .ipynb file from Canvas, resave with the following naming format:
>- LastName_FirstName_Midterm.ipynb

#### When you are ready to submit your quiz, upload your .ipynb file to Canvas in Midterm

# Python basics from week 1/2 
Python as a calculator, string concatenation, etc.

# Q1: In the next cell, write the Python code that returns the following output

python python python python

In [4]:
i = 1
while i < 5:
    print('python',end = ' ')
    i+=1

python python python python

In [5]:
for i in range(0,4):
    print('python',end = ' ')

python python python python

# Q2: In the next cell, create a variable, `var1`, that has a integer datatype. 
### Print the variable and the data type

In [7]:
var1 = 1
print(var1,type(var1))

1 <class 'int'>

# Q3: Create a variable, `var2`, that has a Floating-Point datatype. 
### Print the variable and the data type.

In [9]:
var2 = 1.1
print(var2,type(var2))

1.1 <class 'float'>

# Q4: Create a variable, `var3`, that has a string datatype. 
### Print the variable and the data type

In [10]:
var3 = 'Hello'
print(var3,type(var3))

Hello <class 'str'>

# Q5
>- Create a variable called 'radius' equal to half the diameter
>- Create a variable called 'area', using the formula for the area of a circle: pi times the radius squared
>- Find the area, rounded to 2 decimals given pi, and the diameter
>- print the radius and area when the diameter=5

In [17]:
d = int(input('What is your diameter? '))
radius = d / 2
pi = 3.14
area = round((pi * (radius**2)),2)
print(f'With a diameter of {d}, we have a radius of {radius}, and an area of {area}')

What is your diameter? 5
With a diameter of 5, we have a radius of 2.5, and an area of 19.62

# Q6: Write the code that would return the following output
'FirstNameLastName'

In [16]:
return 'FirstNameLastName'

SyntaxError: 'return' outside function (<ipython-input-16-7c5c9f7ab100>, line 1)

# Q7: Create a input statement that asks for your name and stores it in a variable, `myname`
>- Print the value stored in `myname` and the number of characters in `myname`

In [20]:
myname = input('What is your name? ')
print(myname,':', len(myname))

What is your name? dan
dan : 3

# Q8: Create two variables called name and food with your name and favorite food
## Print using f-string formatting "My name is xxx and my favorite food is a yyy"
#### xxx and yyy should the replaced with the variables you created

In [21]:
name = input('What is your name? ')
food = input('What is your favorite food? ')
print(f'My name is {name} and my favorite food is {food}')

What is your name? Dan
What is your favorite food? Taco
My name is Dan and my favorite food is Taco

### From the question above show the type of variable, food

In [22]:
type(food)

str

# Q9: Create two variables a=50 and b='51' (b is a string)
## Use type conversion to calculate the result of a+b

In [25]:
a = 50
b = '51'

print(a+int(b))

101

# Q10: Concatenate the two sentences 
`Q: Is this the Krusty Krab?`

`A: No, this is Patrick`
>- Save your answer in a variable

In [27]:
Q = 'Is this the Krusty Krab?'
A = 'No, this is Patrick'
QA = Q + ' ' + A
print(QA)

Is this the Krusty Krab? No, this is Patrick

# Q11: Concatenate the the two sentences

`Q: What do you call a fake noodle?`

`A: A impasta`
>- Save your answer in a variable

In [30]:
Q = 'Q: What do you call a fake noodle?'
A = 'A: A impasta'
QA = Q + '\n' + A
print(QA)

Q: What do you call a fake noodle?
A: A impasta

### Covert your variable from above to all capital letters

In [32]:
QA = QA.upper()
print(QA)

Q: WHAT DO YOU CALL A FAKE NOODLE?
A: A IMPASTA

# Q12: Split the sentence "Real programmers count from 0" into individual words
## Store the list into a variable named, words

In [38]:
sentence = "Real programmers count from 0"
words = []
words = sentence.split(' ')
print(words)

['Real', 'programmers', 'count', 'from', '0']

### Check if 'Python' is in words

In [37]:
'Python' in words

False

### Check if 'program' is in words

In [36]:
'program' in words

False

### Save the 2nd and 3rd words into a new list named, newL

In [41]:
newL = words[1:3]
print(newL)

['programmers', 'count']

# Q13: Create a tuple with the 5 Disney movies & the years below. Name the tuple, disney.
>- Return the data type of the variable, disney
1. The Lion King (2019)
2. Frozen (2013)
3. Moana (2016)
4. Coco (2017)
5. Mulan (1998)

In [42]:
disney = ('The Lion King (2019)','Frozen (2013)','Moana (2016)','Coco (2017)','Mulan (1998)')

In [43]:
#Sort the tuple from A-Z
sorted(disney)

['Coco (2017)',
 'Frozen (2013)',
 'Moana (2016)',
 'Mulan (1998)',
 'The Lion King (2019)']

In [46]:
#Create a variable with the 3rd element of the tuple
third = disney[2]
print(third)

Moana (2016)

In [47]:
# How many characters does the variable have?
len(third)

12

# Q14: Create a list with all the Pac 12 schools, except ASU
University of Arizona,University of California Berkeley,University of California Los Angeles,University of Colorado Boulder
University of Oregon, Oregon State University, University of Southern California, Stanford University, University of Utah,
University of Washington

In [51]:
pac12 = ['University of Arizona','University of California Berkeley','University of California Los Angeles',
         'University of Colorado Boulder', 'University of Oregon', 'Oregon State University',
         'University of Southern California', 'Stanford University', 'University of Utah', 'University of Washington']

In [52]:
#Add 'Arizona State University' to the list 
print(pac12)
pac12.append('Arizona State University')
print(pac12)

['University of Arizona', 'University of California Berkeley', 'University of California Los Angeles', 'University of Colorado Boulder', 'University of Oregon', 'Oregon State University', 'University of Southern California', 'Stanford University', 'University of Utah', 'University of Washington']
['University of Arizona', 'University of California Berkeley', 'University of California Los Angeles', 'University of Colorado Boulder', 'University of Oregon', 'Oregon State University', 'University of Southern California', 'Stanford University', 'University of Utah', 'University of Washington', 'Arizona State University']

In [53]:
#Delete 'University of Oregon' from the list
print(pac12)
pac12.remove('University of Oregon')
print(pac12)

['University of Arizona', 'University of California Berkeley', 'University of California Los Angeles', 'University of Colorado Boulder', 'University of Oregon', 'Oregon State University', 'University of Southern California', 'Stanford University', 'University of Utah', 'University of Washington', 'Arizona State University']
['University of Arizona', 'University of California Berkeley', 'University of California Los Angeles', 'University of Colorado Boulder', 'Oregon State University', 'University of Southern California', 'Stanford University', 'University of Utah', 'University of Washington', 'Arizona State University']

In [58]:
# Sort the list from Z-A
print(pac12)
# pac12.sort(reverse = 1)
sorted(pac12, reverse = 1)

['University of Washington', 'University of Utah', 'University of Southern California', 'University of Colorado Boulder', 'University of California Los Angeles', 'University of California Berkeley', 'University of Arizona', 'Stanford University', 'Oregon State University', 'Arizona State University']

['University of Washington',
 'University of Utah',
 'University of Southern California',
 'University of Colorado Boulder',
 'University of California Los Angeles',
 'University of California Berkeley',
 'University of Arizona',
 'Stanford University',
 'Oregon State University',
 'Arizona State University']

# Q15: Create a tuple with all possible class grades: "A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F"

In [66]:
# Show a slice of all the B's
grade = ( "A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F")

Bs = grade[3:6]

print(Bs)

('B+', 'B', 'B-')

# Q16: Create a dictionary for the professional atheletes named, pa, and their jersey numbers as keys
>- 23 LeBron James
>- 7 Cristiano Ronaldo
>- 15 Megan Rapinoe
>- #30 Stephen Curry

In [68]:
pa = {23:'LeBron James',
      7:'Cristiano Ronaldo',
      15:'Megan Rapinoe',
      30:'Stephen Curry'
      }

In [69]:
# Create a copy dictionary named, pa2
pa2 = pa.copy()
print(pa2)

{23: 'LeBron James', 7: 'Cristiano Ronaldo', 15: 'Megan Rapinoe', 30: 'Stephen Curry'}

In [70]:
# Add 999 McGee to the pa2
print(pa2)
pa2[999] = 'McGee'
print(pa2)

{23: 'LeBron James', 7: 'Cristiano Ronaldo', 15: 'Megan Rapinoe', 30: 'Stephen Curry'}
{23: 'LeBron James', 7: 'Cristiano Ronaldo', 15: 'Megan Rapinoe', 30: 'Stephen Curry', 999: 'McGee'}

In [71]:
#Print the element with key 15
print(pa2[15])

Megan Rapinoe

# Q17: Create 3 floating point variables with the values 8.05, 1.55 and 2.4
>- Then add the numbers and multiply the result by -2.
>>- Round the result to 2 decimals and print the absolute value of the result.

In [72]:
fpv1 = 8.05
fpv2 = 1.55
fpv3 = 2.4

In [75]:
result = (fpv1 + fpv2 + fpv3)*-2
print(round(abs(result),2))

24.0

# Q18: Lookup question

>- Look up how to subtract dates in Python
>- Then determine how many days are between Halloween (10/31) and the New Year (12/31)

Hint: The following line of code should start you off
<br> `from datetime import date, datetime`

In [79]:
from datetime import date, datetime

In [86]:
# Practice writing code using the modulus operator
import datetime
Halloween = datetime.datetime(2020, 10, 31)
New_Year = datetime.datetime(2020, 12, 31)

print(New_Year-Halloween)

61 days, 0:00:00

# Q19: Given the following Python code:
<br>python = 90
<br>python +7

What will be the value of python when the code runs?

In [87]:
python = 90
python + 7
print(python)

90

# Q20: Give an example of a invalid variable name

In [ ]:
if

#  Control Flow 
a.       If/elif/else
b.       For loops
c.       While loops

## If, elif, else statements

# Q21: Write the Python code using if, elif and a else statement that will ask the user, "What is the time"
 And should return a statement according to the following


0- or equal to 10 "Good Morning sunshine"
<br>10- or equal to 12 "It's almost lunch time"
<br>12- or equal to 18 "I hope you have had a good day"
<br>18-or equal to 22 "It's almost bed time"
<br>22-EOD "Good night"

In [97]:
time = int(input('What is the time? '))
if time > 0 and time <= 10:
    print('Good Morning sunshine')
elif time > 10 and time <= 12:
    print("It's almost lunch time")
elif time > 12 and time <= 18:
    print("I hope you have had a good day")
elif time > 18 and time <= 22:
    print("It's almost your bed time")
elif time > 22 and time <= 24:
    print("Good night")

What is the time? 1
Good Morning sunshine

# Q22: Write a program using if,elif & else that asks the user "What is your login? :" 
>- Based on the input either allows or denies access based on the following list of approved users
>- Your program should be case insensitive
>- The following line of code should start you off.

allowed_users = ['admin','micah', 'kadence','karina','jack','david', 'MO']

In [105]:
allowed_users = ['admin','micah', 'kadence','karina','jack','david', 'MO']

name = input("What is your login?: ")
if name in allowed_users:
    print('Access Granted')
else:
    print('Access Denied')

What is your login?: jack
Access Granted

# Q23: Write Python code using if,elif,& else statements  
1. Ask the user to input a value less than 1 Million
2. Then have the program return how many digits are in that number
>- print a nice statement telling the user how many digits

In [113]:
val = input('Enter a value that is less than 1 million: ')

if int(val) < 1000000:
    print(f'The number {val} has a lengths of {len(val)}')
else:
    print(f'The number {val} is not less than 1 million')

Enter a value that is less than 1 million: 2378654
The number 2378654 is not less than 1 million

### Write the same program as above without if/elif/else statements

In [ ]:
max = 1000000

while True:
    val = input('Enter a value that is less than 1 million: ')

# Q24: Write Python code that uses if,elif & else statements to ask the users "How is the weather"
>- If the user inputs "Good" or "Alright", the function should return "Glad to hear!" or "That's too bad"

In [116]:
weather = input('How is the weather? ')

if weather == 'Good':
    print('Glad to hear!')
elif weather == 'Alright':
    print("That's too bad")
else:
    print('Ok')

How is the weather? Alright
That's too bad

# For loops

# Q25: Use a for loop to print all of the planets in the variable planets
>-The code below should start you off
<br>planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [117]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for i in planets:
    print(i)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

# Q26: Create a program that prints "Go Buffs, beat USC!" 3 times. 

### Specifications:

#1) You must utilize a loop for this program.

#2) The first line printed should be: "Go Buffs, beat USC!"

#3) On a new line,  print a note that will output the loop iteration at all iterations.
#Use Python's f-strings formatting when printing out your loop iteration note.
#In your iteration note, the iteration number must be printed using the current value of the variable you define in your code. (i.e., you cannot just manually enter the iteration numbers and receive full credit)

In [119]:
for i in range(3):
    print("Go Buffs, beat USC!")
    print(f'\tIteration {i+1}')

Go Buffs, beat USC!
	Iteration 1
Go Buffs, beat USC!
	Iteration 2
Go Buffs, beat USC!
	Iteration 3

# Q27: Create a for loop to print all the uppercase letters in the sentence, s, to uncover the secret message.

In [120]:
# s is defined in this cell

s = '''in the loveliest town of all, where the Houses were white and 
high and the elms trees wEre green and higher than the houses, where 
the front yards were wide and pLeasant and the back yards were bushy
and worth finding out about, where the streets sLoped down to the 
stream and the stream flowed quietly under the bridge, where the 
lawns ended in orchards and the orchards ended in fields and the fields 
ended in pastures and the pastures climbed the hill and disappeared over 
the top toward the wonderful wide sky, in this loveliest of all towns 
tuart stOpped to get a drink of sarsaparilla.'''

In [122]:
for i in s:
    if i.isupper():
        print(i)

H
E
L
L
O

# Q28: Use the string variable, `zen`, defined in the next cell to answer the following questions

In [123]:
# zen is defined in this cell

zen = ("Beautiful is better than ugly.\
Explicit is better than implicit.\
Simple is better than complex.\
Complex is better than complicated.\
Flat is better than nested.\
Sparse is better than dense.\
Readability counts.\
Special cases aren't special enough to break the rules.\
Although practicality beats purity.\
Errors should never pass silently.\
Unless explicitly silenced.\
In the face of ambiguity, refuse the temptation to guess.\
There should be one-- and preferably only one --obvious way to do it.\
Although that way may not be obvious at first unless you're Dutch.\
Now is better than never.\
Although never is often better than *right* now.\
If the implementation is hard to explain, it's a bad idea.\
If the implementation is easy to explain, it may be a good idea.\
Namespaces are one honking great idea -- let's do more of those.")

### Split up all the sentences from zen.

In [160]:
x = zen.split(".")
print(x)

['Beautiful is better than ugly', 'Explicit is better than implicit', 'Simple is better than complex', 'Complex is better than complicated', 'Flat is better than nested', 'Sparse is better than dense', 'Readability counts', "Special cases aren't special enough to break the rules", 'Although practicality beats purity', 'Errors should never pass silently', 'Unless explicitly silenced', 'In the face of ambiguity, refuse the temptation to guess', 'There should be one-- and preferably only one --obvious way to do it', "Although that way may not be obvious at first unless you're Dutch", 'Now is better than never', 'Although never is often better than *right* now', "If the implementation is hard to explain, it's a bad idea", 'If the implementation is easy to explain, it may be a good idea', "Namespaces are one honking great idea -- let's do more of those", '']

### Print all the sentences that have 'than' in them from the split of `zen`

In [166]:
for i in x:
    if 'than' in i:
        print(i)

Beautiful is better than ugly
Explicit is better than implicit
Simple is better than complex
Complex is better than complicated
Flat is better than nested
Sparse is better than dense
Now is better than never
Although never is often better than *right* now

# Q29: Print all the consonants in the variable: `sen` = 'Bats always turn left when leaving a cave'

In [186]:
sen = 'Bats always turn left when leaving a cave'
con = ['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Z',
      'b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'z']
for i in sen:
    if i in con:
        print(i)

B
t
s
l
w
s
t
r
n
l
f
t
w
h
n
l
v
n
g
c
v

# Q30: Find all the numbers between 0 and 1000 that are divisible by 7 but not 3

>- Store the numbers in a list

In [191]:
aList = []
for i in range(0,1001):
    if i % 7 == 0 and i % 3 != 0: 
        aList.append(i)

print(aList)

[7, 14, 28, 35, 49, 56, 70, 77, 91, 98, 112, 119, 133, 140, 154, 161, 175, 182, 196, 203, 217, 224, 238, 245, 259, 266, 280, 287, 301, 308, 322, 329, 343, 350, 364, 371, 385, 392, 406, 413, 427, 434, 448, 455, 469, 476, 490, 497, 511, 518, 532, 539, 553, 560, 574, 581, 595, 602, 616, 623, 637, 644, 658, 665, 679, 686, 700, 707, 721, 728, 742, 749, 763, 770, 784, 791, 805, 812, 826, 833, 847, 854, 868, 875, 889, 896, 910, 917, 931, 938, 952, 959, 973, 980, 994]

# Q31: The following list contains lists of movies that include the title, customer, age, and spend in this order

In [192]:
# Movies list

movies = [
    ['12 Angry Men', 'Kadence', 25, 4],
    ['12 Angry Men', 'Micah', 19, 3],
    ['14 Angry Men', 'Hans', 25, 4],
    ['The Dark Knight', 'Kadence', 25, 3],
    ['The Dark Knight', 'Micah', 19, 5],
    ['The Godfather', 'Kadence', 25, 4],
    ['The Godfather', 'Thomas', 35, 5],
    ['The Godfather', 'Howard', 40, 2],
    ['The Green Knight', 'Sue', 35, 2],
    ['The Shawshank Redemption', 'Kadence', 25, 5],
    ['The Shawshank Redemption', 'Thomas', 35, 4],
    ['The Shawshank Redemption', 'Sue', 35, 5]
]

## Create a new dictionary with the total money spend for each movie

In [276]:
newMovie = {}
y = 0 
for i in movies:
    if i[0] not in newMovie:
        newMovie[i[0]] = movies[y][-1]
        y+=1
    else:
        y+=1
        newMovie[i[0]] = newMovie[i[0]] + movies[y-1][-1]
        
print(newMovie)

{'12 Angry Men': 7, '14 Angry Men': 4, 'The Dark Knight': 8, 'The Godfather': 11, 'The Green Knight': 2, 'The Shawshank Redemption': 14}

In [278]:
newdict = {}
for item in movies:
    if item[0] in newdict.keys():
        newdict[item[0]] += item[-1]
    else:
        key = item[0]
        newdict[key] = item[-1]
print(newdict)

{'12 Angry Men': 7, '14 Angry Men': 4, 'The Dark Knight': 8, 'The Godfather': 11, 'The Green Knight': 2, 'The Shawshank Redemption': 14}

## Using a for loop, create a dictionary with the customers as keys and a list of each of their spending amounts as values

In [351]:
custDict1 = {}

for i in movies:
    if not i[1] in custDict1.keys():
        custDict1[i[1]] = [i[-1]]
    else:
        custDict1[i[1]].append(i[-1])
print(custDict1)

{'Kadence': [4, 3, 4, 5], 'Micah': [3, 5], 'Hans': [4], 'Thomas': [5, 4], 'Howard': [2], 'Sue': [2, 5]}

## Now create a dictionary that shows the customers as keys and their total spending as values
>- store the total spending in a list for use in the next problem

In [345]:
custDict = {}
for i in movies:
    for keys in movies:
        custDict.setdefault(keys[1],0)
    if i[1] in custDict.keys():
        custDict[i[1]] += i[-1]

print(custDict)

{'Kadence': 16, 'Micah': 8, 'Hans': 4, 'Thomas': 9, 'Howard': 2, 'Sue': 7}

## Add a "customer status" element to the list of the dictionary above
>- 'Deep Pockets' if he/she spend >= 10
>- 'Regular Joe/Jane' if he/she spend >=5 and <10
>- 'Miser' if he/she spend < 5

# Functions

# Q32: Create a function, `least_diff`, that accepts 3 numbers, a, b & c as parameters 
>- The function should take the absolute value of a-b
>- The function should take the absolute value of b-c
>- The function should take the absolute value of a-c
>- The function should return the minimum difference of the 3 calculations

In [360]:
def least_diff(a,b,c):
    print(min(abs(a-b), abs(b-c),abs(a-c)))

In [361]:
least_diff(110,2,15)

13

### Use the 3 numbers, 1, 10 & 100 in your least_diff function to print the the least difference.

In [362]:
least_diff(1,10,100)

9

# Q33: Bday song function
### Create a function that uses separate print statements to output the Happy Birthday Song to a person's name passed to the function

In [363]:
def  birthday(name):
    print(f'Happy Birthday to You,')
    print(f'Happy Birthday to You,')
    print(f'Happy Birthday Dear {name},')
    print(f'Happy Birthday to You.')

### Call your bday function in the next cell and pass your name to it

In [364]:
birthday('Daniel')

Happy Birthday to You,
Happy Birthday to You,
Happy Birthday Dear Daniel,
Happy Birthday to You.

# Q34: ATM Example function
1. Create a function that uses while loops to ask a user to enter their username and pin for an ATM withdrawal. Your function should have these requirements 
>- The username can only include letters. If a user inters anything else prompt them how to correct their error then ask them for their username again
>- Once a valid username is entered ask the user to enter a pin that only includes numbers. If the user enters an invalid pin prompt them what they did wrong and ask them to enter their pin again. 
>>- Do not ask them for their username again if they enter a wrong pin
>- If the user inputs correct data the function should print "Thanks, here is your cashola!" Granted"
Note: In this function all answers should be right answers if they include the correct specifications for username and pin

In [66]:
def atm():
    while True:
        name = input('What is your username: ')
        if name.isalpha() == False:
            print('Please enter a username that does not contain any numbers.')
        else:
            break
    while True:      
        pin = input('What is your PIN: ')
        if pin.isnumeric() == False:
            print('Please enter a PIN that only contains numbers.')
        else:
            break
    print("Thank, here is your cashola")

In [67]:
atm()

What is your username: asdnasd123123
Please enter a username that does not contain any numbers.
What is your username: 1234123
Please enter a username that does not contain any numbers.
What is your username: 12312
Please enter a username that does not contain any numbers.
What is your username: dsads1243
Please enter a username that does not contain any numbers.
What is your username: dab
What is your PIN: e12
Please enter a PIN that only contains numbers.
What is your PIN: e2e2
Please enter a PIN that only contains numbers.
What is your PIN: 2123
Thank, here is your cashola

# Data Structures

# Q35: The following list contains the medal standings for the Olympics. The items are continent, country, population, gold, silver, bronze
### Create a dictionary with the total number of gold medals per continent

In [68]:
medals = [
            ['North America','United States', 1339180127, 5, 1, 2],
            ['North America','Canada', 36624199, 4, 5, 4],
            ['Europe','Norway', 5305383, 6, 7, 4],
            ['Europe', 'Germany', 82114224, 9, 2, 4 ],
            ['Europe','Netherlands', 17035938, 5, 5, 2 ],
            ['Europe', 'Sweden', 9910701 , 3, 2, 0]
          ]

In [78]:
goldDict = {}

for i in medals:
    if i[0] not in goldDict.keys():
        goldDict[i[0]] = i[-3]
    else:
        goldDict[i[0]] += i[-3]
print(goldDict)

{'North America': 9, 'Europe': 23}

# Q36: Using `medals` defined above 
### Create a dictionary with the country name, the total number of medals per country and the total number of medals per capita

In [95]:
countDict = {}

for i in medals:
    if i[1] not in countDict.keys():
        medList = [i[3]+i[4]+i[5]]
        perCap = i[3]+i[4]+i[5]/i[2]
        medList.append(perCap)
#         countDict[i[0]] = i[3] + i[4] + i[5]
        countDict[i[1]] = medList
#     else:
#         countDict[i[1]]
print(countDict)

{'United States': [8, 6.000000001493451], 'Canada': [13, 9.000000109217405], 'Norway': [17, 13.000000753951223], 'Germany': [15, 11.000000048712632], 'Netherlands': [12, 10.000000117398878], 'Sweden': [5, 5.0]}

## Create a list to store the total points by country. 
>- Assign 5 points to each gold medal
>- 3 points to each silver metal
>- 1 point for bronze metals

In [100]:
scoreList = []

for i in medals:
    if i[1] not in scoreList:
        scoreList.append([i[1],(i[3]*5) + (i[4]*3) + (i[5]*1)])
print(scoreList)

[['United States', 30], ['Canada', 39], ['Norway', 55], ['Germany', 55], ['Netherlands', 42], ['Sweden', 21]]

# Q37: The following list contains lists that include: studentName, age, Course, test, points in that order

In [101]:
students = [
    ["Kadence Waggoner", 21, "BAIM3220", "quiz1", 85],
    ["Kadence Waggoner", 21, "BAIM3220", "quiz2", 75],
    ["Micah McGee", 35, "BAIM3220", "quiz1", 75],
    ["Micah McGee", 35, "BAIM3220", "final exam", 95],
    ["Kadence Waggoner", 21, "BAIM3220", "final exam", 75],
    ["Jane Doe", 20, "BAIM3220", "final exam", 85],
    ["Jane Doe", 20, "BAIM3220", "quiz2", 100],
    ["Micah McGee", 35, "BAIM3220", "quiz2", 99],
    ["Jane Doe", 20, "BAIM3220", "quiz1", 75]
]

### Use the students list from the prior cell to create a dictionary with the students name and the current grade as percentage. 
>- The 2 Quizzes weigh 25% each and the final exam weighs 50% of the students grade. 
>- All points are out of 100.

In [118]:
grades = {}

for i in students:
    if i[0] not in grades.keys():
        if i[-2] == "quiz1":
            grades[i[0]] = (i[-1]*.25)
        elif i[-2] == "quiz2":
            grades[i[0]] = (i[-1]*.25)
        elif i[-2] == "final exam":
            grades[i[0]] = (i[-1]*.50)
    else:
        if i[-2] == "quiz1":
            grades[i[0]] += (i[-1]*.25)
        elif i[-2] == "quiz2":
            grades[i[0]] += (i[-1]*.25)
        elif i[-2] == "final exam":
            grades[i[0]] += (i[-1]*.50)
print(grades)

{'Kadence Waggoner': 77.5, 'Micah McGee': 91.0, 'Jane Doe': 86.25}

# Q38: Use a for loop to determine the average age of the students from Q37

In [138]:
totStudents = 0
totAge = 0
names = []
for i in students:
    if i[0] not in names:
        names.append(i[0])
        totAge += i[1]
        totStudents += 1

print(f'The average student age is: {round(totAge/totStudents,2)}')

The average student age is: 25.33

# Q39: Use the following generic dictionary, `example` to practice working with dictionaries

In [139]:
example = {'row1key': ['row1 first list element', 'row1 second list element', 1111],
        'row2key': ['row2 first list element', 'row2 second list element', 2222],
        'row3key': ['row3 first list element', 'row3 second list element', 3333],
        'row4key': ['row4 first list element', 'row4 second list element', 4444],
        'row5key': ['row5 first list element', 'row5 second list element', 5555],
        }

### Use a loop to add all the integer values in the dictionary

In [142]:
tot = 0
for v in example.values():
    tot += v[-1]
print(tot)

16665

### Write the code to show all the keys from the example dictionary

In [143]:
for k in example.keys():
    print(k)

row1key
row2key
row3key
row4key
row5key

### Write the code to show all the values from the example dictionary

In [144]:
for v in example.values():
    print(v)

['row1 first list element', 'row1 second list element', 1111]
['row2 first list element', 'row2 second list element', 2222]
['row3 first list element', 'row3 second list element', 3333]
['row4 first list element', 'row4 second list element', 4444]
['row5 first list element', 'row5 second list element', 5555]

### Write the code to show all the key:value pairs from the example dictionary

In [147]:
print(example)

{'row1key': ['row1 first list element', 'row1 second list element', 1111], 'row2key': ['row2 first list element', 'row2 second list element', 2222], 'row3key': ['row3 first list element', 'row3 second list element', 3333], 'row4key': ['row4 first list element', 'row4 second list element', 4444], 'row5key': ['row5 first list element', 'row5 second list element', 5555]}

### Calculate the average for the integer values in the example dictionary

In [148]:
tot = 0
count = 0
for v in example.values():
    tot += v[-1]
    count += 1
print(tot/count)

3333.0

### Create a list of all the integer values in the example dictionary.

In [149]:
valList = []
for v in example.values():
    valList.append(v[-1])
print(valList)

[1111, 2222, 3333, 4444, 5555]

#### Sum the values in the list you just defined

In [150]:
sum(valList)

16665

#### Show how many values are in the list you defined above

In [155]:
len(valList)

5

### Create a dictionary with numbers 1-5 as keys and the integers from the example dictionary as values

>- First, do this using the integer list you defined in the last problem
>- Then, do this by using the original dictionary

#### First, create the dictionary using the list you defined above

In [159]:
valDict = {}
x = 1
for i in valList:
    valDict[x] = i
    x+=1
print(valDict)

{1: 1111, 2: 2222, 3: 3333, 4: 4444, 5: 5555}

#### Now, build the same dictionary but do this by using the original `example` dictionary

In [163]:
valDict2 = {}
x = 1
for k,v in example.items():
    valDict2[x] = v[-1]
    x+=1
print(valDict2)

{1: 1111, 2: 2222, 3: 3333, 4: 4444, 5: 5555}